.mynews{
	width: 100%;
	min-height:300px;
	background: #EEEFE1;
}
.mynewsdetail{		
	    width: 100%;
	    min-height: 325px;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;

}

.mynewsdetailborder{
	border: 2px solid rgb(153, 153, 153);
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    border-bottom-left-radius: 0.8em;
    font-family: inherit;
    font-weight: inherit;
    font-size: 16px;
   /* text-align: center;*/

}

.layout{
	width: 100%;
	height:300px;
}